.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  color: #61dafb;
  font-size: .55em;
  text-transform: uppercase;
  font-weight: 400;
}

button {
  color: #61dafb;
  text-transform: uppercase;
  font-size: .55em;
  padding: 0;
  cursor: pointer;
  outline: transparent;
  border: transparent;
  background-color: transparent;
}

button:hover {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
